[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/BogdanHritcu/glfw.git
	branch = flow_001
[submodule "extern/glad"]
	path = extern/glad
	url = https://github.com/BogdanHritcu/glad.git
	branch = flow_001
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/BogdanHritcu/stb.git
	branch = flow_001
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/BogdanHritcu/glm.git
	branch = flow_001
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/BogdanHritcu/spdlog.git
	branch = flow_001
[submodule "extern/entt"]
	path = extern/entt
	url = https://github.com/BogdanHritcu/entt.git
	branch = flow_001
[submodule "extern/box2d"]
	path = extern/box2d
	url = https://github.com/BogdanHritcu/box2d.git
	branch = flow_001
