# Build
[Bb]uild/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
x86/
x64/

# Visual Studio
.vs/
*.sln
*.sln.*
*.vcxproj
*.vcxproj.*

# Visual Studio Code
.vscode/*
.history/

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Other
.cache/
