# Build
cmake-build-*/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
x86/
x64/

# Visual Studio
.vs/
*.sln
*.sln.*
*.vcxproj
*.vcxproj.*

# Visual Studio Code
.vscode/
.history/
*.code-workspace

# CLion
.idea/

# Other
.cache/
